# ignore files for git

#
# ignore backup files
$~*
*~

#  ignore patch
*.diff


### Node

# Logs
logs
*.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock
*.lock


# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Dependency directories
node_modules/
jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

.npm
*-lock.*

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

